<!DOCTYPE html>
<html>
<head>
    <title>Restaurant Monitoring</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">

</head>
<body>
    <h1>Welcome to Restaurant Monitoring</h1>
    <p>This is the default page for the Restaurant Monitoring application.</p>
    <p>Use the provided APIs to trigger report generation and retrieve the reports.</p>
    <h1>Restaurant Monitoring</h1>
    <!-- Endpoint to check Database connectity -->
    <h2>Check Database Connection</h2>
    <form action="/check_db_connection" method="get">
        <input type="submit" value="Check Database Connection">
    </form>
    
    <!-- Generate Report API end point -->
    <h2>Trigger Report generation</h2>
    <form action="/trigger_report" method="get">
        <input type="submit" value="Trigger report generation">
    </form>
    <!-- Get Report Endpoint -->
    <h2>Status of Report generated</h2>
    <form action="/get_report" method="get">
        <input type="submit" value="report status ">
    </form>


</body>
</html>
